@font-face {
    font-family: "Circular";
    src: url(../fonts/CircularStd-Black.otf) format("opentype");
}
.textspace{
    font-variant-numeric: tabular-nums;
    font-family: "Circular";
}
*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 100%;
    height: 100vw;
    background-color: #2A2D31;
    font-family: "Circular";
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 95%;
    height: 99%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 75%;
    flex-direction: column;
}   

p{
    line-height: 100%;
    color: #FFFFFF;
    height: auto;
} 
#demo{
    font-size: 280%;
    padding: 10px 0 0 0;
}
#text{
    font-size: 100%;
    padding: 0 0 8px 0;    
}
#heart1{
    width: 90px;
}
#heart2{
    width: 90px;
}
iframe{
    border-radius: 12px;
    width: 80%;
    height: 40%;
    padding: 0 10% 0 10%;
    border: none;
}
.heart1{
    padding: 40px 0 0 20px;
    display: flex;
    justify-content: start;
}
.heart2{
    padding: 0 20px 40px 0;
    display: flex;
    justify-content: end;
}
.embed{
    display: flex;
    width: 100%;
    height: 80%;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10% 0 10% 0;
} 
@media screen and (min-width: 800px) {
    body{
        width: 100vw;
        height: 40vw;
    }   
    main{
        width: 50%;
        padding-top: 5%;
        flex-direction: row;
    }
    #demo{
        font-size: 350%;
    }
    #text{
        font-size: 150%;
    }
    #heart1{
        width: 150px;
    }
    #heart2{
        width: 150px;
    }
    iframe{
        width: 100%;
        height: 80%;
        padding: 0;
    }
    .heart1{
        padding: 40px 10px 0 30px;
        align-items: start;
    }
    .heart2{
        padding: 0 20px 20px 20px;
        align-items: end;
    }
}


