@font-face {
    font-family: "Circular";
    src: url(../fonts/CircularStd-Black.otf) format("opentype");
}
*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 100%;
    height: 100vw;
    background-color: #2A2D31;
    font-family: "Circular";
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 95%;
    height: 99%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
}   

p{
    line-height: 100%;
    color: #FFFFFF;
    height: auto;
} 
#demo{
    font-size: 300%;
    padding: 10px 0 0 0;
}
#text{
    font-size: 100%;
    padding: 10px 0 10px 0;    
}
#heart1{
    width: 50px;
}
#heart2{
    width: 50px;

}

iframe{
    border-radius: 12px;
    width: 100%;
    height: 40%;
    border: none;
}
.heart1{
    padding: 40px 10px 0 30px;
    display: flex;
    align-items: start;
}
.heart2{
    padding: 0 20px 20px 20px;
    display: flex;
    align-items: end;
}
.embed{
    display: flex;
    height: 80%;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10% 0 10% 0;
} 
@media screen and (min-width: 800px) {
    #heart1{
        width: 150px;
    }
    #heart2{
        width: 150px;
    }
    body{
        width: 100vw;
        height: 40vw;
    }
    main{
        width: 50%;
    }
    #demo{
        font-size: 350%;
    }
    #text{
        font-size: 150%;
    }
    iframe{
        width: 100%;
        height: 80%;
    }
}


